
<div class="parallax-container">
  <div class="parallax"><%= image_tag "live_shot.jpg"%></div>
  </div>
  <div class="section">
    <div class="container">
      <div class="intro">
      <h3 class="header">You never know who you were dancing next to.</h3>
      <div class="row">
      <div class="square col s12 m3">
        <h3><strong>STEP 1</strong></h3>
          <p><i class="large material-icons">place</i></p>
      <p>Sign up and set your location</p>
      </div>
      <div class="square col s12 m3">
        <h3><strong>STEP 2</strong></h3>
          <p><i class="large material-icons">search</i></p>
      <p>Search for a gig that you have been to</p>
      </div>
      <div class="square col s12 m3">
        <h3><strong>STEP 3</strong></h3>
          <p><i class="large material-icons">place</i></p>
      <p>See who else has been to that gig</p>
      </div>
      <div class="square col s12 m3">
        <h3><strong>STEP 4</strong></h3>
          <p><i class="large material-icons">chat</i></p>
      <p>Connect by sending a message</p>
      </div>

      </div>



      <% if !@current_user %>

      <button type="submit" name="action"><%= link_to 'Sign Up', new_user_path %></button>
      <% end %>
      </div>
    </div>
  </div>
  <div class="parallax-container">
<div class="parallax"><%= image_tag "live.jpg"%></div>
  </div>
<!-- main div 0 images -->
<!-- then container div -->
<!-- sign up box  -->
<!-- text within sign up box will be within div  -->
