
<div class="parallax-container">
  <div class="parallax"><%= image_tag "live_shot.jpg"%></div>
  </div>
  <div class="section">
    <div class="container">
      <div class="intro">
      <h1 class="header">You never know who you were dancing next to</h1>
      <div class="row">
      <div class="square col s12 m3">
        <h2><strong><%= link_to 'STEP 1', new_user_path %></strong></h2>
          <p><i class="large material-icons">place</i></p>
      <p>Sign up and set your location</p>
      </div>
      <div class="square col s12 m3">
        <h2><strong>STEP 2</strong></h2>
          <p><i class="large material-icons">search</i></p>
      <p>Search for a gig that you attended and add to your gig history</p>
      </div>
      <div class="square col s12 m3">
        <h2><strong>STEP 3</strong></h2>
          <p><i class="large material-icons">perm_identity</i></p>
      <p>See who else has been to that gig</p>
      </div>
      <div class="square col s12 m3">
        <h2><strong>STEP 4</strong></h2>
          <p><i class="large material-icons">chat</i></p>
      <p>Connect by sending a message</p>
      </div>

      </div>

      </div>
    </div>
  </div>
  <div class="parallax-container">
<div class="parallax"><%= image_tag "live.jpg"%></div>
  </div>
<!-- main div 0 images -->
<!-- then container div -->
<!-- sign up box  -->
<!-- text within sign up box will be within div  -->
