/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color";
$primary-color: color("grey", "lighten-1") !default;
$secondary-color: color("red", "lighten-1") !default;
@import 'materialize';
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   color: #063852;
   background-color: #063852;
}

main {
   flex: 1 0 auto;
 }

 h1 {
    font-size: 35px;
    text-transform: uppercase;
    color: #d50000;
 }

 h2 {
    font-size: 30px;
    line-height: 25px;
    text-transform: uppercase;
    color: #d50000;
 }
 h3 {
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    color: #d50000;
 }

 h4 {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0;
    color: #d50000;
 }
 h5 {
   font-size: 14px;
   line-height: 20px;
   text-transform: uppercase;
   margin: 0;
 }

 p {
    font-size: 15px;
    color: #F8F5F2;
 }

 li {
   color: #d50000
 }

 .gm-style-iw p {
   color: #063852;
}


 a {
    color: #F8F5F2;
 }

 a:hover {
    color: #d50000;
}

.container {
   width: 85%;
}

.parallax-container {
     height: 50vh;
   }

.section {
   height: 50vh;
   background-color: #063852;
}

.section h3 {
   color: #d50000;
}

nav .brand-logo {
   color: #d50000;
}

nav ul a {
   color: #F8F5F2;
}

nav ul a:hover {
   color: #d50000;
}

.intro p {
  color: #d50000;
  width: 85%;
}

.square {
  height: 35vh;
  text-align: center;
}

.square p {
  font-size: 15px;
}

.showProfileImage img {
  height: 30vh;
}

.gig {
  border: 1px solid #d50000;
  text-align: center;
  background-color: rgb(160, 160, 160);
}


.round {
   border-radius: 50%;
   overflow: hidden;
   width: 300px;
   height: 300px;
   margin: 0 auto;
}


.square a {
  color: #d50000;
}

.square a:hover {
  color: #F8F5F2;
}

.btn {
   background-color: lightgrey;
}

.profile {
   text-align: center;
}

.background-photo {
   background-image: url("http://i.imgur.com/EC6q6hs.jpg");
}

#map {
 width: 60%;
 height: 400px;
 background-color: grey;
 margin: 20px auto;

}

.main-profile-section {
   background-color: #063852;
   margin: 0;
}

input {
   color:#F8F5F2;
}

input.btn {
   color: #063852;
}

input.btn:hover {
   background-color: #d50000;
}

textarea {
   color: #F8F5F2;
   width: 30vw;
}

.circle {
   border-radius: 50%;
   overflow: hidden;
   width: 80px;
   height: 80px;
   margin: 0 auto;
}

.intro {
   text-align: center;
}

.setlist li {
  color: #F8F5F2;
}

.gigDetails h3 h4 {
   color: #F8F5F2;
}

.panel {
   width: 20vw;
}
