// Place all the styles related to the Gigs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.marker img {
  height: 10vh;
}

.gigShowPage img {
  height: 10vh;
}

.memberProfile {
  border: 2px solid grey;
  width: 20vw;
  height: 20vh;
  display: inline-block;
}
