<h1>Search for your gig</h1>

<div class="input-field">
    <%= form_tag(new_gig_path, method: "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search by artist name" %>
    <%= submit_tag "Search", :name => nil, :class => "btn"  %>
    <% end %>
</div>
