<div class="container">
    <div class="setlist">
    <h2>Setlist</h2>
    <ul>
    <% @setlist["setlists"]["setlist"]["sets"]["set"]["song"].each do |song| %>
        <li><%= song["@name"] %></li>
    <% end %>
    </ul>
    </div>
</div>
